<div class="container">
	<div id="mainContainer">
		<div id="header">
			<div id="spotifyLogo" (click)="changeView('playlistView')"> <!-- (click) is temp. rmv later-->
				<img src="../../assets/img/spotify-logo.png">
			</div>

			<div id="headerTitle">
				<span id="line"></span>
				<span id="headerLetters"></span>
			</div>
		</div>

		<div id="bodyContainer">			
			<div id="loading" *ngIf="currentView == 'loadingView'">
			</div>

			<div id="playlists" *ngIf="currentView == 'playlistView'">
				<ul class="list-group">
					<li
						*ngFor="let playlist of playlists" 
						(click)="selectPlaylist(playlist)">
						
						<div id='playlistName'>{{ playlist.name }}</div>
					</li>
				</ul>
			</div>

			<div id="songs" *ngIf="currentView == 'songView'">
				<ul class="list-group">
					<li 
						*ngFor="let i = index; let song of selectedPlaylist.tracks.items"
						(click)='playSong(song.track.uri, selectedPlaylist.uri); test($event)'>

						<div class='songNumber'>
							<span id='songText'>{{ i + 1 }}</span>
						</div>
						<div class='songInfomation'>
							<span id='songText'>{{ song.track.name }}</span>
							<div class='songArtists'>
								<span id='songText'>{{getArtistNames(song.track.artists)}}</span>
							</div>
						</div>
						<div class='songLength'>
							<span id='songArtists'>{{getDuration(song.track.duration_ms)}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="musicController">
			<div id="musicButtons">
				<div id='seekBack' (click)="seek('previous')"></div>
				<div id='playPause' (dbclick)="toggleSong()"></div>
				<div id='seekNext' (click)="seek('next')"></div>
			</div>
		</div> <!-- At the footer of the application -->
	</div>
</div>