<div id="container">
	<div id="spotifyLogoContainer"> 
		<img id="spotifyLogo" src="../../assets/img/spotify/spotify-logo.png">
	</div>
	<div id="loading" *ngIf="loading">
		<div id="loadingTextContainer">
			{{ loadingText }}
		</div>
	</div>

	<div id="spotifyContainer">
		<div id="header">
			<div id='backContainer' *ngIf="currentView === 'songView'" (click)="changeView('playlistView')">
				<img id="backIcon" src="../../assets/img/baseline_arrow_back_ios_white_18dp.png">
			</div>	
		</div>

		<div id="bodyContainer">			
			<div id="playlists" *ngIf="currentView == 'playlistView'">
				<ul class="list-group">
					<li
						*ngFor="let playlist of playlists" 
						(click)="selectPlaylist(playlist)">
						
						<div id='playlistName'>{{ playlist.name }}</div>
					</li>
				</ul>
			</div>
			<div id="songs" *ngIf="currentView == 'songView'">
				<ul class="list-group">
					<li 
						*ngFor="let i = index; let song of selectedPlaylist.tracks.items"
						(click)='playSong(song.track.uri, selectedPlaylist.uri); highlight($event)'>

						<div class='songNumber'>
							<span id='songText'>{{ i + 1 }}</span>
						</div>
						<div class='songInfomation'>
							<span id='songText'>{{ song.track.name }}</span>
							<div class='songArtists'>
								<span id='songText'>{{getArtistNames(song.track.artists)}}</span>
							</div>
						</div>
						<div class='songLength'>
							<span id='songArtists'>{{getDuration(song.track.duration_ms)}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Footer -->
		<div id="musicController">
			<div id="musicButtons">
				<div id='seekBack' (click)="seek('previous')"></div>
				<div id='playPause' (dbclick)="toggleSong()"></div>
				<div id='seekNext' (click)="seek('next')"></div>
			</div>
		</div> 
	</div>
</div>
