$background-color: #0d0d0d;

#container {
	border-radius: 15px;
	background-color: $background-color;
	text-align: center;
	width: 50px;
	user-select: none;
}

#spotifyContainer {
	height: 0;
	overflow: hidden;
}

#bodyContainer {
	width: 310px;
	min-height: 440px;
	height: 440px;
}

#loading {
	display: flex;
	align-items: center;
	width: inherit;
	height: 50px;
	color: white;

	#loadingTextContainer {
		margin-left: 50px;
		width: 250px;

		#loadingText {
			vertical-align: middle;
		}
	}
}

#spotifyLogoContainer {
	position: absolute;
	width: 50px;
	height: 50px;
	opacity: 0.8;

	#spotifyLogo {
		display: block;
		margin: 10px auto 10px auto;
		height: 30px;
		width: 30px;
	}
}

#header {
	background-color: rgba(6, 8, 8, 0.8);
	height: 50px;
	width: inherit;
	border-bottom: 1px grey;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	#backContainer {
		float: left;
		width: 50px;
		height: 50px;

		#backIcon {
			display: block;
			margin: 10px 5px 10px 15px;
			height: 30px;
			width: 30px;
		}
	}
}

#playlists, #songs{
	height: inherit;
	width: inherit;
}

ul {
	width: inherit;
	height: inherit;
	overflow: hidden;
	overflow-y: scroll;
	border-top: 1px #404040;
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		text-overflow: ellipsis;
		text-align: left;
		font-size: small;
		white-space: nowrap;
		position: relative;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		height: 45px;
		border-bottom: 1px solid grey;
		transition: background-color 0.1s;
	}
	
	li:hover {
		background-color: #1a1a1a;
		opacity: 0.85;
		transition: background-color 0s;
	}
}

#playlistName {
	color: #cccccc;
	line-height: 45px;
	padding-left: 10px;
}

.songNumber {
	color: #999999;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	line-height: 45px;
	width: 45px;
	text-align: center;
}

.songInfomation {
	color: #cccccc;		
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	top: 0;
	left: 45px;
	right: 45px;
	bottom: 0;
	text-align: left;
	padding-top: 7px;
}

.songArtists {
	color: #999999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	margin-top: 0px;
	font-size: 12px;
}

.songLength {
	color: #999999;
	position: absolute;
	line-height: 45px;
	width: 45px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	text-align: center;
}

// Footer
#musicController {
	height: 80px;
	width: inherit;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: rgba(6, 8, 8, 0.8);

	#musicButtonsContainer {
		display: flex;
		margin-top: 5px;
		justify-content: center;
		align-items: center;
		height: inherit;

		.musicButtons {
			width: 45px;

			#shuffle, #repeat {
				height: 18px;
				width: 18px;
			}

			#shuffle {
				margin-left: 15px;
			}

			#repeat {
				margin-right: 15px;
			}

			#seekBack, #seekNext {
				width: 36px;
				height: 36px;
			}

			svg {
				fill: rgb(182, 182, 182);
			}

			svg:hover {
				fill: rgb(255, 255, 255);
			}

			svg:active {
				fill: rgb(124, 124, 124);
			}
		}
	}
}

.listTextColor {
	color: #00e600;
}

.buttonSelected {
	fill: #4eca4e !important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(6, 8, 8, 0.8);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(6, 8, 8, 0.8);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(38, 38, 38, 0.5);
}
