<div id="container">
	<div id="spotifyLogoContainer"><img id="spotifyLogo" src="./assets/spotify_module/spotify-logo.png"></div>
	<div id="spotifySetupContainer"><app-setup-spotify (spotifyLinked)="spotifyLinked()"></app-setup-spotify></div>
	<div id="selectDeviceContainer"><app-select-device (deviceSelected)="deviceSelected()" *ngIf="currentView === ViewStates.DEVICESELECT"></app-select-device></div>
	<div id="bigPlayerContainer"><app-big-player *ngIf="currentView === ViewStates.BIGPLAYER"></app-big-player></div>
</div>
