<div class='container-fluid'>
	<div class='weatherInfo'>
		<div id='date'>{{ currDate }}</div>
		<div id='temp'>
			{{ currTemp }}&deg;
			<span id='tempSign'>C</span>
		</div>
		<div id='minMaxTemp'>
			{{ maxTemp }}&deg;
			<span id='minTemp'>{{ minTemp }}&deg;</span>
		</div>
	</div>

	<div class='weatherNavigation'>
		<div class='weatherIcon' 
			*ngFor="let i = index; let day of weatherData"
			(click)="changeDay(i)"
			[ngClass]="{'selectedWeatherIcon': currDay == i }">
			<i class="{{ weatherData[i].icon }}"></i>
			<div class='weatherDate'>{{ parseShortDate(weatherData[i].date) }}</div>
		</div>
	</div>	
</div>
