#setupSpotify {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 300px;
	color: rgb(231, 231, 231);
	overflow: hidden;
	margin: auto;

	h1 {
		margin: 0;
	}

	#linkSpotify {
		background-color: #1DB954;
		border-radius: 500px;
		margin: auto;
		font-weight: bold;
		font-size: 17.5px;
		line-height: 45px;
		height: 50px;
		width: 50%;
		transition: 0.25s ease-in;
		color: white;
	}

	#linkSpotify:hover {
		background-color: #1ED760;
	}

	#linkSpotify:active {
		background-color: #18ac4d;
		transition: none;
	}

	.textContainer {
		display: flex;
		margin: 0 auto 0 auto;
		height: 30px;
		width: 80%;

		.textField {
			border: none;
			background-color: rgb(226, 226, 226);
			width: calc(100% - 50px);
			border-top-left-radius: 500px;
			border-bottom-left-radius: 500px;
			text-align: center;
		}

		.textField:focus {
			outline: none;
		}

		.textButton {
			background-color: rgb(110, 212, 110);
			height: inherit;
			width: 50px;
			border-top-right-radius: 500px;
			border-bottom-right-radius: 500px;
			color: black;
			font-size: 0.9em;
			line-height: 27.5px;
		}
		
		.textButton:hover {
			background-color: rgb(140, 214, 140);
		}
		
		.textButton:active {
			background-color: rgb(66, 172, 66);
		}
	}

	#errorMsg {
		height: 0.75em;
		width: 80%;
		margin: 0 auto -0.75em auto;
		padding-left: 2em;
		font-size: 0.75em;
		color: rgb(241, 70, 70);
	}
}

// Spinner sourced from https://loading.io/css/
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  margin: 6px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
