<div id="setupSpotify">
  <h1>Configure Spotify</h1>
  <p>Head over to the website below and follow the given instructions</p>

  <div class="textContainer">
    <input type="text" class="textField" readonly="readonly" #webLink value="{{ setupLink }}">
    <div class="textButton noselect" (click)="copy(webLink)"><span>Copy</span></div>
  </div>

  <div class="textContainer" style="margin-top: 1.25em">
    <input type="text" class="textField" [(ngModel)]="token">
    <div class="textButton noselect" (click)="getToken()"><span>Paste</span></div>
  </div>
  <div id="errorMsg">{{ errorMsg }}</div>

  <div id="linkSpotify" (click)="linkSpotify()">
    LINK SPOTIFY
    <div class="lds-ring" *ngIf="isLoading"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
