#clockContainer {
  width: 525px;
  padding: 0 3em 0 3em;
  height: 175px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.autoResize {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

#day {
  font-size: 2.5em;
  color: #ccc;
  white-space: nowrap;
}

#clock {
  #time {
    color: white;
    font-size: 4.5em;
    line-height: 0.7em;
  }

  #seconds {
    color: #ccc;
    font-size: 2.25em;
    padding-right: 2px;
  }

  #amPm {
    font-size: 2em;
    color: #ccc;
  }
}

.border {
  $border-color: #000;
  text-shadow:
   -1px -1px 0 $border-color,  
    1px -1px 0 $border-color,
    -1px 1px 0 $border-color,
     1px 1px 0 $border-color;  
}

#settingContainer {
  position: absolute;
  top: 0;
  right: 0;

  img {
    width: 20px;
    height: 20px;
    opacity: 0.2;
    padding: 10px 10px 0 0;
    transition: opacity 0.5s;
  }

  img:hover {
    opacity: 0.7;
  }

  img:active {
    opacity: 1;
  }
}
