#weatherContainer {
  padding: 1em;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
}

#weatherSetupContainer {
  position: fixed;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  opacity: 0;

  #weatherSetup {
    margin-top: 15%;
  }
}

#tempContainer {
  margin-top: 5px;
  height: 64px;
}

#currWeatherRow {
  margin: 5px 0 2px 0;
  height: 25px;
}

#settingContainer {
  position: absolute;
  top: 0;
  right: 0;

  img {
    width: 20px;
    height: 20px;
    opacity: 0.2;
    padding: 10px 10px 0 0;
    transition: opacity 0.5s;
  }

  img:hover {
    opacity: 0.7;
  }

  img:active {
    opacity: 1;
  }
}

#listContainer {
  width: 320px;
  border-top: 1px solid rgb(48, 48, 48);
  padding-top: 5px;
}
