<div id="settingContainer" (click)="openSetting()">
	<img src="./assets/img/baseline_settings_white_18dp.png">
</div>

<div id="weatherContainer">
	<div id="tempContainer"><app-current-temp></app-current-temp></div>
	<div id="breaker" *ngIf="currentWeather">
		<div id="location">{{ currentWeather.location }}</div>
		<div id="minMaxTemp">
			<div>{{ currentWeather.max }}</div>
			<div>{{ currentWeather.min }}</div>
		</div>
	</div>
	<div id="listContainer"><app-weather-list></app-weather-list></div>
</div>

<div id="weatherSetupContainer">
	<app-setup-weather id="weatherSetup" (closeSetting)="closeSetting()" *ngIf="showSetting"></app-setup-weather>
</div>
