$background-color: #0d0d0d;

.wholePage {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.controller {
	background-color: $background-color;
	opacity: 0.4;
	position: absolute;
	margin-left: 0.5em;
	margin-top: 0.5em;
	user-select: none;
	overflow: none;
	width: 44px;
	height: 44px;
	border-radius: 17.5px;
	z-index: 5;

	#header {
		.gearContainer {
			float: left;
			height: 44px;
			width: 44px;
			margin: auto;
		}

		#gearIcon {
			width: inherit;
			height: inherit;
		}

		#backIcon {
			width: 36px;
			height: 33px;
			padding-left: 10px;
			padding-top: 6px;
		}

		.backContainer {
			position: absolute;
			width: 44px;
			width: fit-content;
			height: 44px;
			left: 0;
		}
	}
}

.moduleList, .moduleSettings{
	clear: left;
	width: inherit;
	height: 0px;
	background-color: $background-color;
	color: rgb(226, 226, 226);
	overflow: hidden;
}

.module {
	position: absolute;
	left: 0;
	top: 0;
}

.moduleSettings {
	padding: 0 1em 0 1em;
}
