<div class='wholePage'>	
	<div class='controller'>
		<div id="header">
			<div class='gearContainer' (click)='togglePanel()'>
				<img id="gearIcon" src="./assets/img/baseline_settings_white_18dp.png">
			</div>
			<div class='backContainer' *ngIf="showBackButton" (click)='goBack()'>
				<img id="backIcon" src="./assets/img/baseline_arrow_back_ios_white_18dp.png">
			</div>	
		</div>

		<div id='settingContainer'>	
			<div class='moduleList'>
				<app-select-setting [moduleList]="moduleList" (moduleSelected)="selectModule($event)"></app-select-setting>
			</div>
			<div class="moduleSettings">
				<app-generic-module-settings [selectedModule]="selectedModule"></app-generic-module-settings>
			</div>		
		</div>
	</div>
	<app-weather-module class="module" id='weatherModule'></app-weather-module>
	<app-spotify-module class="module" id='spotifyModule'></app-spotify-module>
</div>
