<div class='wholePage'>	
	<div id='controller'>
		<div id="header">
			<div class='gearContainer' (click)='togglePanel()'>
				<img id="gearIcon" src="./assets/img/baseline_settings_white_18dp.png">
			</div>
			<div class='backContainer' *ngIf="showBackButton" (click)='goBack()'>
				<img id="backIcon" src="./assets/img/baseline_arrow_back_ios_white_18dp.png">
			</div>	
		</div>

		<div id='settingContainer'>	
			<div class='moduleList'>
				<app-select-setting [moduleList]="moduleList" (appSettingSelected)="openAppSetting()" (moduleSelected)="selectModule($event)"></app-select-setting>
			</div>
			<div class="moduleSettings">
				<app-generic-module-settings [selectedModule]="selectedModule"></app-generic-module-settings>
			</div>
			<div class="appSettings">
				<app-settings></app-settings>
			</div>
		</div>
	</div>
	<ng-template appModule class="moduleContainer"></ng-template>
</div>
