$background-color: #0d0d0d;

.wholePage {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.controller {
	background-color: $background-color;
	opacity: 0.4;
	position: absolute;
	margin-left: 0.5em;
	margin-top: 0.5em;
	user-select: none;
	overflow: none;
	width: 44px;
	height: 44px;
	border-radius: 17.5px;
	z-index: 5;
	// color: white;

	.gearContainer {
		height: 40px;
		width: 40px;
		margin: 2px;
		float: left;

		#gearIcon {
			width: inherit;
			height: inherit;
			opacity: 1;
		}
	}
	
	.gearContainer:hover {
		color: #cccccc;
	}
	
	.gearContainer:active {
		color: #808080;
	}
}

.moduleList, .moduleSettings{
	clear: left;
	width: inherit;
	height: 0px;
	background-color: $background-color;
	color: rgb(226, 226, 226);

	ul {
		width: inherit;
		height: inherit;
		overflow: hidden;
		overflow-y: none;
		list-style-type: none;
		padding-left: 0;
	
		li {
			text-overflow: ellipsis;
			text-align: left;
			white-space: nowrap;
			line-height: 44px;
			margin: 0px;
			padding: 0 0 0 1em;
			height: 45px;
			border-bottom: 1px solid grey;
			transition: background-color 0.1s;
		}
	
		li:hover {
			background-color: #1a1a1a;
			opacity: 0.85;
			transition: background-color 0s;
		}
	}
}

#spotifyModule {
	position: absolute;
	left: 0;
	top: 0;
}

#weatherModule {
	position: absolute;
	left: 0;
	top: 0;
}

.moduleSettings {
	overflow: hidden;
	padding: 0 1em 0 1em;
}

#bodyContainer {
	display: inline-block;
	width: inherit;
	overflow: hidden;
}

.range-slider {
	margin-top: 10px;
	width: 275px;
    display: flex;
}

.range-slider__range {
    -webkit-appearance: none;
    margin-top: 10px;
    float: left;
    width: 400px;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 5px;
}
